<div class="col">
  <div class="card h-100">
    {{!-- <img src="..." class="card-img-top" alt="..."> --}}
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">By {{nationality}}</p>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <small class="text-body-secondary"><a href="/riders/{{_id}}" class="link-opacity-50-hover">See Details</a></small>
    </div>
  </div>
</div>