<section class="hero-section section mt-5">
  <div class="container text-center">
    <h1 class="display-3">Welcome to Riders MotoGP</h1>
    <p class="lead">Discover the magic of the wonderful world of MotoGP and its riders!</p>
    <!-- Add any call-to-action buttons or elements here -->
  </div>
</section>

<section class="btn-section">
  <div class="container-sm mx-auto text-center">
    <a href="/riders" class="btn btn-primary">Explore Riders</a>
  </div>
</section>

<!-- No se donde copiar esto. es para las card -->
<div class="card text-bg-dark">
  <img src="..." class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small>Last updated 3 mins ago</small></p>
  </div>
</div>
